@import '../../../../../styles.scss';

.client-view-container {
  max-width: 900px;
  margin: var(--spacing-lg) auto;
  display: grid;
  gap: var(--spacing-lg);
}

.menu-section {
  margin-bottom: var(--spacing-lg);
}

.dish-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: var(--spacing-md);
}

.dish-list li {
  background-color: var(--bg-color-card);
  padding: var(--spacing-md);
  border-radius: var(--border-radius-md);
  box-shadow: var(--box-shadow);
}
