@import '../../../../styles.scss';

.navbar {
  background: var(--bg-color-card);
  box-shadow: var(--box-shadow);
  padding: 0 var(--spacing-lg);
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.nav-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary-color);
  text-decoration: none;
}

.nav-links {
  display: flex;
  gap: var(--spacing-lg);
  align-items: center;

  a {
    text-decoration: none;
    color: var(--text-color-light);
    font-weight: 600;
    &:hover {
      color: var(--primary-color);
      text-decoration: none;
    }
  }
}
